.jumbotron {
    position: relative;
}
.jumbotron::before {
    content: "";
    background: rgba(0, 0, 0, 0.3) url("img/banner.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.jumbotron h1 {
    position: relative;
}