.jumbotron {
    position: relative;
    background: url("img/banner.jpg") center no-repeat;
    background-size: cover;
}
.jumbotron::before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.jumbotron h1 {
    position: relative;
}